body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.full-width{
    width: 100%;
}

.inner{
    width: 1280px;
    height: 500px;
    margin: 0 auto;
}
header{
    background-color: #5385c1;
    height: 50px;
}
.logo{
   float: left;
   font-size: 25px;
   margin-top: 9px;
   font-weight: bold;
   color: white;
}

nav{
    float: right;
}

.navigation-bar ul li{
    text-align: center;
    display: inline;
    padding: 3px;
}

.navigation-bar ul li a{
    text-decoration: none;
    color: white; 
}

/* main text */

.main-text h1{
    text-align: center;
    margin-top: 5%;
    color: #5385c1;
    font-size: 40px;
}

.main-text h3 {
    text-align: center;
    color: #9a9a9a ;
    font-size: 20px;
    padding-bottom: 5%;
}

.main-text p{
    text-align: left;
    color: #9a9a9a;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
}

.photo-one{
    width: 48%;
    margin-right: 2%;
    float: left;
    padding-top: 75px;
    padding-bottom: 50px;
}
.photo-one h1{
    color: #5385c1;
    font-size: 25px;
}

.photo-one p{
    color:#9a9a9a;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 3%;
    text-align: left;
    line-height: 1.5;
}
.photo-two{
    width: 48%;
    margin-left: 2%;
    float: left;
    padding-top: 75px;
    padding-bottom: 50px;
}
.photo-two h1{
    color: #5385c1;
    font-size: 25px;
}
.photo-two p{
    color:#9a9a9a;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 3%;
    text-align: left;
    line-height: 1.5;
}

button{
    height: 40px;
    width: 60px;
    font-size: 15px;
    color: white;
    background-color: #5385c1;
    border: none;
}
/* Footer */

footer{
    width: 1280px;
    margin: 0 auto;
    border-top: 1px solid #9a9a9a;
}
footer p{
    
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
footer img{
    width: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

@media (max-width:768px){
    .inner {
        width:85%;
        height: 0%;
      }
      .navigation-bar{
          display: none;
      }
      .main-text{
        width: 100%;
        height: 0%;
      }
      .main-text h1 h3 p {
        text-align: center;
      }
      
      .photos{
        width: 100%;
       
        /* margin-left: 5%; */
      }

      .photos img{
        width: 100%;
      }
      .photo-one{
        float: none;
        display: inline;
      }

      .photo-one h1  {
        text-align: center;
      }
      
      .photo-one p  {
        text-align: center;
      }
      
      button{
        width: 100%;
      }
 
      .photo-two{
        width: 100%;
        margin: 0 auto;
      }
    
     .photo-two h1 {
        text-align: center;
     }

     .photo-two p {
        text-align: center;
     }

     footer {
        width: 84%;
     }
}